{#
# @author Bodo (Hugo) Barwich
# @version 2021-08-18
# @package RPM Packaging for Perl
# @subpackage roles/module-spec/files/package_make.spec.j2

# This Template creates the ".spec" File for the Package
# from the API Data and Package Configurations
#
#---------------------------------
# Requirements:
#
#---------------------------------
# Configurations:
#
#---------------------------------
# External Parameters:
# - "package_data": Dictionary with Package Meta Data
#
#}#
# SPEC File for Perl Module {{ package_data.value['module.main'] }}
#



%define module_name {{ package_data.value['module.main'] }}
{% if package_data.value.distribution is defined %}
%define distribution {{ package_data.value.distribution }}
{% else %}
%define distribution {{ package_data.value.package }}
{% endif %}
%define release_date %(echo '{{ package_data.value.date }}' | cut -d'T' -f1)
%define release_no %(echo %{release_date} | sed -re 's/\-//g')


Name:           perl-%{distribution}
Version:        {{ package_data.value['release.version'] }}
Release:        %{release_no}%{?dist}
{% if package_data.value.abstract is defined %}
Summary:        {{ package_data.value.abstract }}
{% else %}
Summary:        {{ package_data.value.summary }}
{% endif %}
License:        GPL+ or Artistic
Group:          Development/Libraries
URL:            https://metacpan.org/pod/%{module_name}
Source:         %{distribution}-%{version}.tar.gz

BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)

{% if package_data.value.arch != 'x86_64' %}
BuildArch:      noarch
{% endif %}

{% for req in package_data.value.requires.build %}
{%- if req.feature == 'perl' %}
BuildRequires:{{ "\t" }}perl >= 0:{{ req.version }}
{%- else %}
BuildRequires:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}
{%- endif %}

{% endfor %}

{% for req in package_data.value.requires.runtime %}
{%- if req.feature == 'perl' %}
Requires:{{ "\t" }}perl >= 0:{{ req.version }}
{%- else %}
Requires:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}
{%- endif %}

{% endfor %}
{% if package_data.value.arch == 'x86_64' %}
{# Compiled Packages need Compatibility Restrictions #}
Requires:{{ "\t" }}perl(:MODULE_COMPAT_%(eval "`%{__perl} -V:version`"; echo $version))
{% endif %}

{% for req in package_data.value.recommends %}
Recommends:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}

{% endfor %}


%description
{% if package_data.value.description is defined %}
{{ package_data.value.description }}
{% else %}
{% if package_data.value.abstract is defined %}
{{ package_data.value.abstract }}
{% else %}
{{ package_data.value.summary }}
{% endif %}
{% endif %}


%prep
%setup -q -n %{distribution}-%{version}


%build
%{__perl} Makefile.PL INSTALLDIRS=vendor OPTIMIZE="$RPM_OPT_FLAGS"
make %{?_smp_mflags}


%install
rm -rf $RPM_BUILD_ROOT

{% if package_data.value.examples == 1 %}
{# The Examples will get deleted in the Installation #}
if [ -d 'examples' ]; then
  mkdir -p $RPM_BUILD_ROOT%{_docdir}/%{name}
  mv examples $RPM_BUILD_ROOT%{_docdir}/%{name}/
fi
{% endif %}

make pure_install PERL_INSTALL_ROOT=$RPM_BUILD_ROOT

find $RPM_BUILD_ROOT -type f -name .packlist -exec rm -f {} \;
find $RPM_BUILD_ROOT -type f -name '*.bs' -size 0 -exec rm -f {} \;
find $RPM_BUILD_ROOT -depth -type d -exec rmdir {} 2>/dev/null \;

%{_fixperms} $RPM_BUILD_ROOT/*


%check
make test


%clean
rm -rf $RPM_BUILD_ROOT


%files
%defattr(-,root,root,-)
{% if package_data.value.license != '' -%}
%license {{ package_data.value.license }}
{% endif %}
{% if package_data.value.docs | length > 0 -%}
%doc {% for doc in package_data.value.docs %}{{ doc }} {% endfor %}

{% endif %}
{% if package_data.value.examples == 1 %}
%{_docdir}/%{name}/examples/*
{% endif %}
{% if package_data.value.arch == 'x86_64' %}
{# Compiled Packages provide Binary Files #}
%{perl_vendorarch}/*
{% else %}
{# Compiled Packages don't include uncompiled Files #}
%{perl_vendorlib}/*
{% endif %}
%{_mandir}/man3/*
