{#
# @author Bodo (Hugo) Barwich
# @version 2021-08-18
# @package RPM Packaging for Perl
# @subpackage roles/module-spec/files/package_build.spec.j2

# This Template creates the ".spec" File for the Package
# from the API Data and Package Configurations
#
#---------------------------------
# Requirements:
#
#---------------------------------
# Configurations:
#
#---------------------------------
# External Parameters:
# - "package_data": Dictionary with Package Meta Data
#
#}#
# SPEC File for Perl Module {{ package_data.value['module.main'] }}
#



%define module_name {{ package_data.value['module.main'] }}
{% if package_data.value.distribution is defined %}
%define distribution {{ package_data.value.distribution }}
{% else %}
%define distribution {{ package_data.value.package }}
{% endif %}


Name:           perl-%{distribution}
Version:        {{ package_data.value['release.version'] }}
Release:        1%{?dist}
Summary:        {{ package_data.value.abstract }}
License:        GPL+ or Artistic
Group:          Development/Libraries
URL:            https://metacpan.org/pod/%{module_name}
Source:         %{distribution}-%{version}.tar.gz

BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)

{% if package_data.value.arch != 'x86_64' %}
BuildArch:      noarch
{% endif %}

{% for req in package_data.value.requires.build %}
{%- if req.feature == 'perl' %}
BuildRequires:{{ "\t" }}perl >= 0:{{ req.version }}
{%- else %}
BuildRequires:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}
{%- endif %}

{% endfor %}

{% for req in package_data.value.requires.runtime %}
{%- if req.feature == 'perl' %}
Requires:{{ "\t" }}perl >= 0:{{ req.version }}
{%- else %}
Requires:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}
{%- endif %}

{% endfor %}

{% for req in package_data.value.recommends %}
Recommends:{{ "\t" }}perl({{ req.feature }}){% if req.version != '0' %} >= {{ req.version }}{%- endif %}

{% endfor %}


%description
{{ package_data.value.description }}


%prep
%setup -q -n %{distribution}-%{version}


%build
%{__perl} Build.PL installdirs=vendor
./Build


%install
rm -rf $RPM_BUILD_ROOT

{% if package_data.value.examples == 1 %}
{# The Examples will get deleted in the Installation #}
mkdir -p $RPM_BUILD_ROOT%{_docdir}/%{name}
find -type d -name 'examples' -exec mv {} $RPM_BUILD_ROOT%{_docdir}/%{name}/ \;
{% endif %}

./Build install destdir=$RPM_BUILD_ROOT create_packlist=0
find $RPM_BUILD_ROOT -depth -type d -exec rmdir {} 2>/dev/null \;

%{_fixperms} $RPM_BUILD_ROOT/*


%check
./Build test


%clean
rm -rf $RPM_BUILD_ROOT


%files
%defattr(-,root,root,-)
{% if package_data.value.license != '' -%}
%license {{ package_data.value.license }}
{% endif %}
{% if package_data.value.docs | length > 0 -%}
%doc {% for doc in package_data.value.docs %}{{ doc }} {% endfor %}

{% endif %}
{% if package_data.value.examples == 1 %}
%{_docdir}/%{name}/examples/*
{% endif %}
%{perl_vendorlib}/*
%{_mandir}/man3/*
